#bob{
    width: 100px;
    height: 100px;
    background: lightgray;
}
#eyes{
    width: 100%;
}
#l-eye{
    width: 25px;
    height: 50px;
    background: white;
    border-radius: 50% 50% 50% 50%;
}
#r-eye{
    width: 25px;
    height: 50px;
    background: white;
    border-radius: 50% 50% 50% 50%;
}